body {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Display border on all element which makes layout  */
* {
    /* border: solid; */
}

/* Top navigation bar section starts here */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: auto; */
    justify-content: space-around;
    margin-bottom: 5em;
    /* width: 1500px; */
    max-width: 1500px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15em;
    font-size: 2em;
    font-family: poppins;
}

/* END OF Top navigation bar section starts here */

/* START OF Top Intro section */
.intro-section {
    display: flex;
    max-width: 1500px;
}

/* START OF RIGHT Section */
.headphone-div {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
    margin: auto;
}

img[src="./images/headphones.jpg"] {
    /* max-width: 1400px;     */
    /* width: 120%; */
}
.discount {
    position: absolute;
    transform: translate(-13em, -1em);
}

.discount-content {
    position: absolute;
    transform: translate(-13em, 0em);
    font-family: poppins;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-content > h1 {
    color: white;
    font-size: 3em;
    font-family: Poppins;
}

.discount-content > h4 {
    color: white;
    font-family: Poppins;
}

.dots {
    display: flex;
    flex-direction: row;
    height: 3em;
    align-content: center;
    justify-content: center;
    gap: 15px;
}

.yellow-dot,
.tomato-dot,
.black-dot {
    display: block;
    border: solid;
    width: 3em;
    color: yellow;
    background-color: yellow;
    border-radius: 25px;
}
.tomato-dot {
    color: tomato;
    background-color: tomato;
}
.black-dot {
    color: black;
    background-color: black;
}

.action-btn {
    width: 9em;
    height: 3em;
    margin-top: 2em;
    border-radius: 40px;
    font-family: Poppins;
    font-size: 1.5em;
    color: white;
    background-color: tomato;
    border: none;
}

/* END OF Right Section */

/* START Of Left Section */

.left-section {
    display: flex;
    flex-direction: column;
    justify-items: left;
    font-family: Fredoka One;
}

.left-section > h3 {
    display: block;
    font-size: 3em;
    margin: 1em 0 5px 3em;
    font-family: Poppins;
}

.left-section > h1 {
    display: block;
    font-size: 8em;
    font-weight: 200;
    margin: 0 0 5px 1em;
}
.sub-headline {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    vertical-align: middle;
}

.sub-headlines {
    font-family: poppins;
    font-size: 2em;
    margin-left: 2em;
    flex-direction: column;
    vertical-align: middle;
}

img[src="./images/plus.svg"] {
    background-color: tomato;
    border-radius: 25em;
    margin-right: 15px;
    width: 1.5em;
}

.text {
    margin-left: 1em;
    margin-right: 1em;
    font-family: poppins;
}

.action-btns {
    display: flex;
    column-gap: 1em;
    justify-content: center;
    margin-bottom: 2em;
}

/* Media Query Layout */

/* For Navigation bar */
@media (max-width: 768px) {
    .nav-items {
        display: none;
    }
    nav {
        margin: 1em 0 8em 0;
    }

    .intro-section {
        flex-direction: column-reverse;
        /* grid-template-columns: 1fr; */
    }

    img[src="./images/logo.svg"] {
        width: 15vw;
    }

    img[src="./images/actions.svg"] {
        /* margin-right: 0px; */
        /* border: solid;     */
        width: 10em;
        /* overflow: hidden; */
    }

    img[src="./images/headphones.jpg"] {
        /* max-width: 1400px;     */
        width: 80vw;
    }
    .sub-headlines {
        margin: 5px;
    }

    /* img[src="./images/plus.svg"]{
        padding: 25px;
        margin-left: 15px;
    } */
    .sub-headline {
        font-size: 6vw;
        margin-left: 6vw;
    }
    .left-section > h1 {
        /* border: solid; */
        display: block;
        font-size: 12vw;
        text-align: center;
        font-weight: 200;
        padding: 0 10px 0 10px;
    }
    .left-section > h3 {
        margin-left: 2em;
        font-size: 6vw;
        text-align: center;
        margin-bottom: 1em;
    }
    .discount {
        position: absolute;
        transform: translate(-3em, -12em);
    }

    .discount-content {
        position: absolute;
        transform: translate(-3em, -12em);
        font-family: poppins;
    }
}
